<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="initial-scale=1, user-scalable=no" />
		<meta charset="utf-8">
		<link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
		<link rel="stylesheet" href="./build/app.css">

		<title>Basket</title>
	</head>

	<body ng-app="app" ng-controller="BasketController as Main" layout="row">

		<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')">
			<md-content class="lists view" ng-controller="ListsController as Lists">
				<md-toolbar>
				    <div class="md-toolbar-tools">
				        <h2>
							<span>Lists</span>
						</h2>
						<span flex></span>
						<md-button aria-label="New List" ng-click="Lists.addList()" class="add">
				            <md-icon md-svg-src="img/add.svg"></md-icon>
							<md-tooltip>New List</md-tooltip>
				        </md-button>
				    </div>
				</md-toolbar>
				<md-list>
					<md-list-item ng-repeat="list in Lists.lists">
						<bk-list-info></bk-list-info>
					</md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<md-content bk-list-view ng-controller="ItemsController as Items">
			<md-subheader>{{ Items.getCurrentList().name }}</md-subheader>
			<md-list>
				<md-list-item ng-repeat="item in Items.getCurrentList().items">
					<bk-item></bk-item>
				</md-list-item>
			</md-list>
			<md-button class="md-fab" aria-label="New Item" ng-click="Items.addItem()">
	            <md-icon md-svg-src="img/add.svg"></md-icon>
				<md-tooltip>New Item</md-tooltip>
	        </md-button>
		</md-content>

		<script src="./node_modules/angular/angular.js"></script>
		<script src="./node_modules/angular-aria/angular-aria.js"></script>
		<script src="./node_modules/angular-animate/angular-animate.js"></script>
		<script src="./node_modules/angular-material/angular-material.js"></script>
		<script src="./build/app.js"></script>

	</body>

</html>