.lists.view {
	bk-list-info {
		width: 100%;
		padding: 0.75em 0;
	}
	.menu {
		padding: 0;
		transition: opacity 200ms;
		button {
			height: 25px;
			line-height: 25px;
			width: 25px;
			min-height: 0;
		}
	}
	md-list-item {
		&.selected {
			background-color: darken($grey, 10%);
		}
	}
	h3 {
		margin: 0;
		max-width: 100%;
		overflow: hidden;
	}
	.brief.description {
		font-size: 0.75em;
		font-weight: 200;
		margin: 0;
		overflow: hidden;
		max-height: 3.75em;
	}
	button.md-fab {
		position: fixed;
		bottom: 24px;
		right: 24px;
	}
}
@media (min-width: $breakpoint-md) {
	.lists.view {
		button.md-fab {
			display: none;
		}
		md-list-item:not(:hover) {
			.menu {
				opacity: 0;
			}
		}
	}
}
@media (max-width: $breakpoint-md - 1px) {
	button.add:not(.md-fab) {
		display: none;
	}
	md-sidenav {
		width: 100%;
		max-width: none;
	}
}
@media (max-width: $breakpoint-narrow) {
}