.lists.view {
	bk-list-info {
		width: 100%;
		padding: 0.75em 0;
	}
	.menu {
		padding: 0;
		transition: opacity 200ms;
		button {
			height: 25px;
			line-height: 25px;
			width: 25px;
			min-height: 0;
		}
	}
	md-toolbar {
		color: #fff;
	}
	.md-toolbar-tools {
		background-color: $colour-secondary;
	}
	md-list-item {
		&.selected {
			background-color: darken($grey, 10%);
		}
	}
	h3 {
		margin: 0;
		max-width: 100%;
		overflow: hidden;
	}
	.brief.description {
		font-size: 0.75em;
		font-weight: 200;
		margin: 0;
		overflow: hidden;
		max-height: 3.75em;
	}
	button.md-fab {
		position: fixed;
		bottom: 16px;
		right: 16px;
		&.md-button {
			background-color: $colour-secondary;
			&:not([disabled]).md-focused {
				background-color: lighten($colour-secondary, 15%);
			}
		}
	}
}
@media (min-width: $breakpoint-md) {
	.lists.view {
		button.md-fab {
			display: none;
		}
		md-list-item:not(:hover) {
			.menu {
				opacity: 0;
			}
		}
	}
}
@media (max-width: $breakpoint-md - 1px) {
	.lists.view {
		button.add:not(.md-fab) {
			display: none;
		}
		.menu button {
			height: 35px;
			line-height: 35px;
			width: 35px;
			margin-top: -10px;
			margin-right: -10px;
		}
	}
	md-sidenav {
		width: 100%;
		max-width: none;
	}
}
@media (max-width: $breakpoint-narrow) {
}