[bk-list-view] {
	bk-item {
		width: 100%;
		h4.title {
			margin: 0;
			margin-right: 1em;
			max-width: calc(100% - 250px);
			font-weight: 400;
		}
		p.note, p.assign {
			margin: 0;
			line-height: 2em;
			max-height: 2em;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		p.note {
			max-width: calc(100% - 250px);
		}
		.title, .note, .assign {
			padding: 0;
		}
		.note, .assign {
			font-size: 0.75em;
			font-weight: 200;
		}
		p.assign {
			float: right;
			margin-bottom: 0;
			font-style: italic;
			&::before {
				content: 'Assigned to ';
			}
		}
		md-input-container {
			&.title {
				max-width: calc(100% - 210px);
			}
		}
		md-autocomplete {
			&.assign {
				width: 50%;
				float: right;
			}
		}
		&.editable {
			h4.title, p.note {
				display: none;
			}
		}
		&:not(.editable) {
			p.assign {
				position: absolute;
				right: 60px;
				max-width: 150px;
			}
			md-input-container {
				display: none;
			}
			md-card-content {
				display: flex;
				padding-right: 160px;
				min-height: calc(1em + 2px);
				&:not(:hover) {
					.actions {
						opacity: 0;
					}
				}
			}
		}
		&.editing {
			&.assign {
				p.assign {
					display: none;
				}
			}
		}
		&:not(.editing) {
			md-autocomplete.assign {
				display: none;
			}
			&:not(.assign).editable p.assign {
				margin-top: 0.5em;
			}
		}
		md-icon svg {
			fill: #000;
		}
		.actions {
			position: absolute;
			top: 1px;
			right: 60px;
			background-color: #fff;
			transition: opacity 200ms;
			button {
				margin: 0;
			}
		}
		button.done {
			position: absolute;
			top: 0;
			right: 0;
		}
		&:not(.done) {
			button.done svg .done {
				display: none;
			}
		}
		&.done {
			opacity: 0.4;
		}
		@media (min-width: $breakpoint-md) {
			&:not(.editable) {
				p.assign::before {
					content: '';
				}
			}
		}
		@media (max-width: $breakpoint-md - 1px) {
			md-card-content {
				flex-direction: column;
				position: relative;
			}
			md-fab-speed-dial {
				position: absolute;
				top: 100%;
				right: 0;
				transform: translateY(-50%);
				button.md-fab {
					position: relative;
					background-color: $colour-primary;
					svg {
						fill: #fff;
					}
				}
				md-fab-actions {
					position: absolute;
					top: 0;
					button.md-button:not([disabled]).md-focused {
						background-color: lighten($colour-primary, 20%);
					}
				}
			}
			md-input-container {
				&.title {
					max-width: none;
				}
			}
			p.assign {
				float: none;
			}
			&:not(.editable) {
				md-card-content {
					padding-right: 60px;
				}
				h4.title, p.note {
					max-width: none;
				}
				p.note {
					max-height: 9em;
					line-height: 1.25em;
					white-space: normal;
				}
				p.assign {
					position: relative;
					max-width: none;
					right: auto;
				}
				md-fab-speed-dial {
					display: none;
				}
			}
			&.editable {
				button.done {
					display: none;
				}
			}
		}
	}
}