body {
	> .md-subheader {
		@media (min-width: $breakpoint-md) {
			left: 304px; // fix angular material bug
		}
		md-input-container {
			display: none;
		}
	}
}
.md-subheader {
	background-color: inherit;
}
.md-subheader-content {
	display: inline-block;
	width: calc(100% - 250px);
	max-height: 2em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
[bk-list-view] {
	width: 100%;
	background-color: $grey;
	.md-subheader {
		font-size: 1.5em;
		margin-right: 0;
		&::after {
			right: 0;
		}
		span.name {
			margin-left: 0.5em;
			&:hover {
				background-color: #fff;
			}
		}
		md-input-container {
			z-index: 1;
			display: inline-block;
			padding-bottom: 0;
			margin-top: -0.5em;
			&, input {
				width: 100%;
				text-align: center;
			}
		}
		&:not(.editable) {
			md-input-container {
				display: none;
			}
		}
		&.editable {
			.name {
				display: none;
			}
		}
	}
	.list.actions {
		position: fixed;
		top: 0.5em;
		right: 1em;
		z-index: 10;
		.share, .menu {
			padding: 0;
			margin: 0;
			margin-left: 0.5em;
			&, button {
				height: 25px;
				line-height: 25px;
				width: 35px;
				min-height: 0;
				min-width: 0;
			}
		}
	}
	md-card {
		width: 100%;
		position: relative;
	}
	button.md-fab.newItem {
		position: fixed;
		bottom: 24px;
		right: 24px;
		&.md-button {
			background-color: $colour-primary;
			&:not([disabled]).md-focused {
				background-color: lighten($colour-primary, 15%);
			}
		}
	}
}
// large screen
@media (min-width: $breakpoint-md) {
	button.back {
		display: none;
	}
}
// tablet and smaller
@media (max-width: $breakpoint-md - 1px) {
	.md-subheader {
		background-color: $colour-primary;
		.name {
			color: #fff;
			&:hover {
				color: #000;
			}
		}
	}
	.md-subheader-content {
		margin: 0 40px;
		width: calc(100% - 80px);
	}
	.md-subheader-inner {
		text-align: center;
		overflow: hidden;
	}
	[bk-list-view] {
		&.hasEditableItem {
			button.md-fab.newItem {
				display: none;
			}
		}
		button.md-fab.newItem {
			bottom: 16px;
			right: 16px;
		}
		button.back {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
			height: 35px;
			line-height: 35px;
			width: 35px;
			min-height: 0;
			min-width: 0;
		}
		.list.actions {
			.share, .menu {
				&, button {
					height: 35px;
					line-height: 35px;
					svg {
						fill: #fff;
					}
				}
			}
		}
	}
}
@media (max-width: $breakpoint-narrow) {
	.md-subheader {
		md-input-container {
			&, input {
				text-align: left;
			}
		}
	}
	.md-subheader-inner {
		text-align: left;
	}
}
