<md-card class="item" tabindex="0">
	<md-card-content>

		<h4 class="title">{{ item.title }}</h4>
		<md-input-container class="title" md-no-float>
			<input ng-model="item.title" placeholder="Item" tabindex="1">
		</md-input-container>

		<p class="note">{{ item.note }}</p>
		<md-input-container class="note">
			<label>Notes</label>
			<textarea ng-model="item.note" tabindex="2"></textarea>
		</md-input-container>

		<p class="assign" ng-show="item.assign">{{ item.assign }}</p>
		<md-autocomplete
			md-selected-item="item.assign"
			md-item-text="name"
			md-search-text="nameSearchText"
			md-search-text-change="item.assign = nameSearchText"
			md-items="name in Items.searchName(nameSearchText)"
			md-floating-label="Assign to"
			md-autofocus="true"
			md-autoselect="true"
			class="assign">
			<md-item-template>
				<span md-highlight-text="nameSearchText">&ldquo;{{name}}&rdquo;</span>
			<md-item-template>
		</md-autocomplete>

		<img ng-src="{{item.photo}}" class="photo" />

		<div class="actions" ng-if="Main.$mdMedia('gt-md')">
			<md-button aria-label="Record message" class="md-icon-button" tabindex="4">
				<md-icon md-svg-src="img/mic.svg"></md-icon>
				<md-tooltip>Record message</md-tooltip>
			</md-button>
			<md-button aria-label="Take photo" class="md-icon-button photo" tabindex="4">
				<md-icon md-svg-src="img/camera.svg"></md-icon>
				<md-tooltip>Take photo</md-tooltip>
			</md-button>
			<md-button aria-label="Assign..." class="md-icon-button assign" tabindex="4">
				<md-icon md-svg-src="img/face.svg"></md-icon>
				<md-tooltip>Assign...</md-tooltip>
			</md-button>
		</div>
		<md-fab-speed-dial md-open="fabIsOpen" md-direction="down" ng-if="!Main.$mdMedia('gt-md')">
			<md-fab-trigger>
				<md-button aria-label="Menu" class="md-fab md-mini" tabindex="4">
					<md-icon md-svg-src="img/add.svg"></md-icon>
				</md-button>
				<md-fab-actions>
					<md-button aria-label="Record message" class="md-fab md-raised md-mini" tabindex="4">
						<md-icon md-svg-src="img/mic.svg"></md-icon>
						<md-tooltip md-direction="left" md-visible="fabIsOpen">Record message</md-tooltip>
					</md-button>
					<md-button aria-label="Take photo" class="md-fab md-raised md-mini photo" tabindex="4">
						<md-icon md-svg-src="img/camera.svg"></md-icon>
						<md-tooltip md-direction="left" md-visible="fabIsOpen">Take photo</md-tooltip>
					</md-button>
					<md-button aria-label="Assign..." class="md-fab md-raised md-mini assign" tabindex="4">
						<md-icon md-svg-src="img/face.svg"></md-icon>
						<md-tooltip md-direction="left" md-visible="fabIsOpen">Assign...</md-tooltip>
					</md-button>
				</md-fab-actions>
			</md-fab-trigger>
		</md-fab-speed-dial>

		<input type="file" class="photo" accept="image/*" >

		<md-button aria-label="Done" class="md-icon-button done" tabindex="3" ng-click="item.done = !item.done">
			<md-icon md-svg-src="img/checkbox.svg"></md-icon>
		</md-button>

		<md-button class="md-raised delete" ng-click="Items.deleteItem(item.id)">Delete</md-button>

	</md-card-content>
</md-card>
