<md-card class="item" tabindex="0">
	<md-card-content>

		<h4 class="title">{{ item.title }}</h4>
		<md-input-container class="title" md-no-float>
			<input ng-model="item.title" placeholder="Item" tabindex="1">
		</md-input-container>

		<p class="note">{{ item.note }}</p>
		<md-input-container class="note">
			<label>Notes</label>
			<textarea ng-model="item.note" tabindex="2"></textarea>
		</md-input-container>

		<p class="assign" ng-show="item.assign">{{ item.assign }}</p>
		<md-input-container class="assign">
			<label>Assign to</label>
			<input ng-model="item.assign">
		</md-input-container>

		<div class="actions">
			<md-button aria-label="Record message" class="md-icon-button" tabindex="4">
				<md-icon md-svg-src="img/mic.svg"></md-icon>
				<md-tooltip>Record message</md-tooltip>
			</md-button>
			<md-button aria-label="Take photo" class="md-icon-button" tabindex="4">
				<md-icon md-svg-src="img/camera.svg"></md-icon>
				<md-tooltip>Take photo</md-tooltip>
			</md-button>
			<md-button aria-label="Assign..." class="md-icon-button assign" tabindex="4">
				<md-icon md-svg-src="img/face.svg"></md-icon>
				<md-tooltip>Assign...</md-tooltip>
			</md-button>
		</div>

		<md-button aria-label="Done" class="md-icon-button done" tabindex="3" ng-click="item.done = !item.done">
			<md-icon md-svg-src="img/checkbox.svg"></md-icon>
		</md-button>

	</md-card-content>
</md-card>