<div layout="row">
	<h3>{{ list.name }}</h3>
	<span flex></span>
	<md-menu md-position-mode="target-right target" layout-align="end start" class="menu">
		<md-button aria-label="List options..." class="md-icon-button" ng-click="$mdOpenMenu($event)">
			<md-icon md-menu-origin md-svg-src="img/more.svg"></md-icon>
		</md-button>
		<md-menu-content width="3">
			<md-menu-item>
				<md-button ng-click="Main.shareList(list.id)">
					<div layout="row">
						<p flex>Share...</p>
						<md-icon md-menu-align-target md-svg-src="img/share.svg"></md-icon>
					</div>
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button ng-click="Main.deleteListById(list.id)">
					<div layout="row">
						<p flex>Delete</p>
						<md-icon md-menu-align-target md-svg-src="img/delete.svg"></md-icon>
					</div>
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</div>
<p class="brief description">{{ list.getDescription() }}</p>
<md-divider ng-if="!$last"></md-divider>